<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
<body>
	<header	th:fragment="header">
	
		<nav class="navbar navbar-expand-lg bg-light">
		  <div class="container-fluid">
		    <div class="navbar-brand">
		    	<h1>Littlest Pets Shop</h1>
		    </div>
		    <img th:src="@{/images/logor.png}" width="250px" title="LogoLittlest" alt="perrito kawaii">
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
   			</button>
		   
		    <div class="collapse navbar-collapse " id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		         <a class="nav-link active" aria-current="page" th:href="@{/inicio/lisInicio}">Inicio</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/productos/lista}">Productos</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/consejos/listaConsejo}">Consejos de salud</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/servicios/lista}">Servicios de paseos</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/sucursales/listado}">Sucursales</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" th:href="@{/contacto}">Contactanos</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>

	 <!--<div class='menu'>
		<h1>Littlest Pets Shop</h1> 
		<img th:src="@{/images/logor.png}" width="150" title="LogoLittlest" alt="perrito kawaii">		
			<nav >
				<ul>
					<li><a th:href="@{/inicio/lisInicio}">Inicio</a></li>
					<li><a th:href="@{/productos/lista}">Productos</a></li>
					<li><a th:href="@{/consejos/listaConsejo}">Consejos de salud</a></li>
					<li><a th:href="@{/servicios/lista}">Servicios de paseos</a></li>
					<li><a th:href="@{/sucursales/listado}">Sucursales</a></li>
					<li><a th:href="@{/contacto}">Contactanos</a></li>
				</ul>
			</nav>
		</div> -->
	</header>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</body>
</html>