<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
<body>
	<header	th:fragment="header">
	 <div class='menu'>
		<h1>Littlest Pets Shop</h1> 
		<img th:src="@{/images/logor.png}" width="150" title="LogoLittlest" alt="perrito kawaii">		
			<nav >
				<ul>
					<li><a th:href="@{inicio/lisInicio}">Inicio</a></li>
					<li><a href="@{/productos/lista}">Productos</a></li>
					<li><a href="@{/consejos/listaConsejo}">Consejos de salud</a></li>
					<li><a href="@{/servicios}">Servicios de paseos</a></li>
					<li><a href="@{/sucursales/listado}">Sucursales</a></li>
					<li><a th:href="@{/contacto}">Contactanos</a></li>
				</ul>
			</nav>
		</div>
	</header>
</body>
</html>