<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
<body>
		<header	th:fragment="header">
		<h1>Littlest Pets Shop</h1> 
		<img src="../static/images/logor.png" width="150" title="LogoLittlest" alt="perrito kawaii">		
			<nav >
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejos.html">Consejos de salud</a></li>
					<li><a href="serviciosDePaseo.html">Servicios de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contacto-form.html">Contactanos</a></li>
				</ul>
			</nav>
	</header>
</body>
</html>