/*@charset "ISO-8859-1";*/
*{
	margin:0px;
	padding:0px;
	
}
/* Cuerpo de la pagina */
body{
	background-color: #EDE2DB;
}
/* Encabezado y menu principal 
	Trabajo en equipo desde linea 13 hasta 68 */
.menu{
	font-family:'Gorditas', sans-serif;
	color:#734d26;
	background:#ccad99;
	text-align:left;
	background-size: contain;
}
.menu{
	width:100%;
}
.menu img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;

}
.menu h1{
	display: inline-block;
  	vertical-align: baseline;
  	background:#ccad99;
  	height:150px;
  	margin-left: 20px
 	
}

.menu nav{
	position: absolute;
  	top: 35px;
  	right: 0;
	height:100px;
	border-bottom: 1px;
	
}

.menu ul li{
	float: left;
	list-style: none;
	margin: 10px;
	line-height: 50px;
	list-style: none;
 	padding: 0;
 	display: flex;
}

.menu a{
	font-family: 'Urbanist', sans-serif;
	font-size: 20px;
	font-style:inherit;
	color:#64483c;

	text-decoration:none;
}

.menu a:hover{
	color:#f0e7db;
	text-decoration: underline;
}

/* Realizado por: Sofia Trinida Yañez
   Usuario git: Sofi231098
   Trabajo: desde linea 75 hasta linea 148 */

/* ASIDE,SECTION Y FOOTER DE INICIO */
.content{
	width:calc(80% - 40px);
	float:left;
	min-height:400px;
	padding:20px;
	border-radius: 35px;
    background:#E9D5A2;
}

.content h2,h3{
	font-family:'Gorditas', sans-serif;
	font-size: 35px;
	color:#734d26;
	margin-bottom: 20px;
	margin-top: 20px;
}

.content p{
	text-align:justify;
	font-size: 20px;
	font-family: 'Urbanist', sans-serif;
	color:#734d26;
}
.objetivos{
	font-family: 'Urbanist', sans-serif;
	font-size: 20px;
	color:#734d26;
	margin-left: 20px;
	
}

.content2{
	width:calc(20% - 30px);
	float:left;
	background:#975942;
	min-height:400px;
	padding: 15px;
	padding-bottom: 25px;
	border-radius: 35px;
	
}

.content2 h3{
	text-align: center;
	font-size: 18px;
	font-family:'Gorditas', sans-serif;
	color:#f0e7db;
	margin-top:15px;
}

.content2 p{
	font-family: 'Urbanist', sans-serif;
	font-size:18px;
	color: #f0e7db;
	margin-bottom:20px;
}

p.imgcentrado{
	text-align: center;
	
}

#footerInicio{
	font-family: 'Urbanist', sans-serif;
	font-size: 20px;
	text-align: center;
	clear:both;
	background: #EDE2DB;
	padding: 30px;
	height: 50px;
	line-height: 50px;
	border-radius: 30px;
	color:#734d26;
}

/* Realizado por: Naima Blanca Farja
   Usuario git: NaimaFarja
   Trabajo: desde linea 153 hasta linea 237 */

.menuProductos{
/* Adapata el menu al tamaño de la pantalla */
	background-size: contain;
    width: 950px;
	margin:0 auto;
    padding: 50px;
}
.menuProductos ul li{
	margin: 10px;
	line-height: 50px;
	list-style: none;
 	padding: 0;
 	display: flex;
	list-style: none;
    text-align:center;
    width: 100%;
}
.menuProductos a {

	font-family:'Urbanist', sans-serif;
	font-size: 30px;
	text-decoration: none;
	color:#64483c;
	width:100%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ccad99;
    border: 2px solid #64483c;
    
}
.menuProductos li a:hover{
	border-color: #bc9d8f;
    width: 150%;
}
.menuProductos h2{
	font-family:'Gorditas', sans-serif;
	text-align: center;
    font-size: 60px;
    font-weight: bold;
    color:#64483c
}
/* lista de articulos */
.articulos li{
 	display: inline-table;
 	width:20%;
    margin: 0 1.5%;
    padding:40px 30px 10px;
    box-sizing: border-box;

}
.articulos h2{
	font-family:'Gorditas', sans-serif;
	text-align:	center;
	margin-top:10px;
	color:#64483c;
	line-height: 20px;
}
.articulos p{
	font-family:'Urbanist', sans-serif;
	color:#64483c;
}
 .articulos strong{
 	text-align:left;
	font-size: 20px;
	font-family:'Urbanist', sans-serif;
	color:#64483c;
 }
#asidep{
	text-align: center;
	clear:both;
	border-radius: 30px;
	background:#975942;
	padding: 40px;
}
#asidep h4{
	font-family:'Gorditas', sans-serif;
	color:#f0e7db;
	font-size: 30px;
}
#asidep p{
	font-family: 'Urbanist', sans-serif;
	
	font-size: 20px;	
}

/* Realizado por: Luis Alberto Guerrero Erazo
   Usuario git: Lguerrero2023
   Trabajo: desde linea 243 hasta linea 301 */

#consejos{
	width: 85%;
	display:inline-table;
}
#titulo {
	font-family:'Gorditas', sans-serif;
	color:#734d26;
	text-align: center;
	font-size: 40px;
	margin-top: 0px;
}
#parrafo {
	font-family: 'Urbanist', sans-serif;
	font-size: 17px;
	text-align: center;
}
#consejos p{
	font-family: 'Urbanist', sans-serif;
	font-size: 17px;
	text-align: center;
}

#consejos h2{
	font-family:'Gorditas', sans-serif;
	color:#734d26;
	text-align: left;
	font-size: 30px;
	padding: 50px;
}

#consejos p{
	background-color: #ccad99;
	height:150px;
	border-radius:50px;
	border: 5px solid #64483c;
	
	width: 80%;
	display: flex;
	align-items: center;
	
	position: relative;
 
	bottom:200px;
	right:0px;
	left:200px;
	text-align: justify;
	padding:20px 6px 10px 20px ;
	margin-left: 60px;
	margin-bottom:-150px;
}
#consejos  img{
	
	padding: 50px ;
}
hr{
	height: 2px;
	background-color: #64483c;
	border-color: #64483c;
}
/* Realizado por: Fabricio Alfredo Flores
   Usuario git: Flores-Fabricio-Alfredo
   Trabajo: desde linea 306 hasta linea 335 */

  /*servicio de paseo*/
.paseo h2{
	font-family: 'Gorditas', sans-serif;
	color:#734d26;
	font-size: 30px;
	text-align: center;	
}
.paseo p{
 	font-family: 'Urbanist', sans-serif;
	font-size: 20px;
	text-align: center;	
}
table {
	margin: 0 auto;
	font-family: 'Urbanist', sans-serif;
	border-collapse: collapse;
	width: 90%;
}
th{
	font-size: 25px;
	padding: 40px;
	background-color: #ccad99;
}
td{
	font-size: 16px;
	padding:  20px ;
}
p.centrado {
  text-align: center;
} 

/* Realizado por: Marisol Patricia castillo
   Usuario git: marisolpatri77
   Trabajo: desde linea 341 hasta linea 374 */

/* Pag Sucursal*/

#subtsuc{
	font-family:'Gorditas', sans-serif;
	color:#734d26;
	text-align: center;
}

#infosuc{
	font-family: 'Urbanist', sans-serif;
	color:#734d26;
	text-align: center;
	font-size: 18px;
}
	
#boximg{
	box-sizing: border-box;
    border: 2px solid #734d26;
    border-radius: 10px;
    
}

p.parrafimg{
	text-align: center;
}

.articlesuc{
	font-family: 'Urbanist', sans-serif;
	text-align: center;
}

b{
	color:#734d26;
}

.txt{
	text-align: center;
}

.form {
	 width: 100%;
	 max-width: 300px;
  	 margin: 0 auto;
	 justify-content: center;
	 align-items: center;
}

.titnuevsuc {
	text-align: center;
}

.form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.form input{
  width: 60%;
  height: 20px;
  margin: .5rem
}

.form select {
	width: 60%;
  height: 20px;
  margin: .5rem
}

.form-element {
  display: block;
  width: 20%;
   height: 40px;
  margin: 1rem auto;
  font-family: 'Urbanist', sans-serif;
  color:#734d26;
  font-size: 15px;
}

.form label {
	font-family: 'Urbanist', sans-serif;
	color:#734d26;
	font-size: 18px;
}


.link {
	margin-left: 80px;
}

/* ---------------- */

/* Realizado por: Sofia Trinida Yañez
   Usuario git: Sofi231098
   Trabajo: desde linea 382 hasta linea 487 */

/* FORMULARIO - SOFI*/

.sectionForm{
	
	width:60;
	display: flex;
}

.contactenos{
	background:#ccad99;
	padding: 25px;
	margin:25px;
	border-radius: 20px;
	margin-left: 120px;

}

.parte1 h2{
	font-family:'Gorditas', sans-serif;
	font-size: 40px;
	color:#734d26;
	text-align:center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.parte1 p{
	font-family: 'Urbanist', sans-serif;
	font-size:23px;
	color:#734d26 ;
}

p.imgForm{
	text-align: center;
}

.parte2 .label{
	font-family: 'Urbanist', sans-serif;
	font-size:20px;
	color:#734d26 ;
}

.parte2 .inputForm{
	font-family: 'Urbanist', sans-serif;
	font-size:20px;
	border-radius: 20px;
	margin-bottom: 20px;
	padding:12px;
	background-color: #EDE2DB;
	border: 1px solid #734d26;
	border: 1px solid #734d26;
    outline: none;
}


.parte2 .boton{
	width: 100%;
	border-radius: 10px;
	border: 1px solid #734d26;
	padding:5px;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    color:#734d26 ;
    background:#EDE2DB;
    cursor: pointer;
}

.parte2 .boton:hover{
	width: 100%;
	border-radius: 10px;
	border: 1px solid #EDE2DB;
	padding:5px;
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    color:#EDE2DB;
    background:#734d26;
    cursor: pointer;
}

.paginas{
	font-size: 40px; 
	text-align: center;
	padding:30px 10px;
	
}

.logos{
	color:#734d26 ;
	padding: 10px;
}

.asideForm{
	width:45%;
	min-height:80px;
	border-radius: 25px;
	background:#ccad99;
	margin-left: 120px;
}

.asideForm h4{
	font-family: 25px;
	font-family:'Gorditas', sans-serif;
	color:#734d26 ;
	text-align: center;
	padding: 10px;	
}


.asideForm p{
	  font-family: 'Urbanist', sans-serif;
	  text-align: center;
	  color:#734d26 ;
	  padding:10px;
	  font-size: 18px;
}

p.imgForm2{
	text-align: center;
}

/* Estilo login*/
.formLogin{
	background:#ccad99 ;
	text-align: center;
	margin-top: 150px;
	margin-left: 500px;
	margin-right: 500px;
	padding: 50px;
	border-radius: 20px;
}
.labelLogin{
	font-family: 25px;
	font-family:'Gorditas', sans-serif;
	color:#734d26 ;
}
.inputLogin{
	font-family: 'Urbanist', sans-serif;
	font-size:20px;
	border-radius: 20px;
	margin-bottom: 20px;
	padding:12px;
	background-color: #EDE2DB;
	border: 1px solid #734d26;
	border: 1px solid #734d26;
    outline: none;
    color:#734d26 ;
}
.errorLogin{
	font-family: 25px;
	font-family:'Urbanist', sans-serif;
	color:#734d26 ;
	text-align: center;
	padding-top: 10px;
}

.objForm{
	background:#ccad99 ;
	text-align: center;
	margin-top: 50px;
	margin-left: 400px;
	margin-right: 400px;
	padding: 50px;
	border-radius: 20px;
}
.labelObj{
	font-size: 20px;
	font-family:'Urbanist', sans-serif;
	color:#734d26 ;
	padding: 20px;
}

.inputObj{
	font-family: 'Urbanist', sans-serif;
	font-size:15px;
	border-radius: 20px;
	margin-bottom: 20px;
	padding:12px;
	background-color: #EDE2DB;
	border: 1px solid #734d26;
	border: 1px solid #734d26;
    outline: none;
    color:#734d26 ;
}
.button{
	font-family: 'Urbanist', sans-serif;
	font-size:15px;
	border-radius: 20px;
	margin-bottom: 20px;
	padding:12px;
	background-color: #EDE2DB;
	border: 1px solid #734d26;
	border: 1px solid #734d26;
    outline: none;
    color:#734d26 ;
}