<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Accesorios</title>
<title>Insert title here</title>
</head>
<body>
<header>
		<h1>Accesorios</h1>
		<img src="../static/images/Productos/ADP/acc.jpg" width="150" title="perro" alt="ADP">
		<p>Diferentes juguetes y accesorios para la diversion de tu mascota</p>
		
  </header>
   
 
		<ul>
			<li> <a href="productos.html">Productos</a> </li> 
			<li> <a href="Alimentoparagato.html">Alimento para gato</a> </li>
			<li> <a href="Alimentoparaperros.html">Alimento para perros</a> </li>
		</ul>	

	 <h2>Hueso</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\hueso.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Juguete que posee textura para masajear las encías y ayuda a promover la buena salud dental</p>
	<strong>$900</strong>
	  <h2>Soga</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\soga.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Juguete de hilo para perro, fabricado en algodón, ejercita la mandíbula y limpia los dientes de tu mascota</p>
	 <strong>$1.200</strong>
	  <h2>Sapito</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\sapo.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Ayuda a eliminar estrés y ansiedad, sobre todo en cachorros cuyos dientes están creciendo.</p>
	 <strong>$1.200</strong>
	  <h2>Tumbler Ratón</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\kata.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Es un juguete diseñado para despertar el instinto cazador de tu gato y son ideales para el vínculo entre el ser humano y su mascota.</p>
	  <strong>$800</strong>
	 <h2>Ratoncito</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\rati.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Excelente para jugar con su mascota o para sorprender a algún asustadizo!.</p>
	 <strong>$1.200</strong>
	
	 <br> 
	 <br>
	
	<footer>
      <p> &copy Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
</body>
</html>