<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Accesorios</title>
		<link rel="styLesheet" href="../static/css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
	</head>
<body>
<header>
<div class='menu'>
			<h1>Accesorios</h1>
			<img src="../static/images/accesorios.png" width="150" title="perro" alt="ADP">
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li> <a href="productos.html">Productos</a> </li> 
					<li> <a href="alimentoparagato.html">Alimento para gato</a> </li>
					<li> <a href="alimentoparaperros.html">Alimento para perros</a> </li>
				</ul>
			</nav>
		</div>

>
		
  </header>
	
	<ul class='articulos'>
		<li><h2>Hueso</h2>
	 	<img src="../static/images/hueso.png" width="150" title="juguete" alt="hueso">
	 	<p>Juguete que posee textura para masajear las encías y ayuda a promover la buena salud dental</p>
		<strong>$900</strong></li>
		<li><h2>Soga</h2>
	 	<img src="../static/images/soga.png" width="150" title="juguete" alt="soga">
	 	<p>Juguete de hilo para perro, fabricado en algodón, ejercita la mandíbula y limpia los dientes de tu mascota</p>
	 	<strong>$1.200</strong>
	 	<li><h2>Sapito</h2>
	 	<img src="../static/images/sapo.png" width="150" title="juguete" alt="sapo">
	 	<p>Ayuda a eliminar estrés y ansiedad, sobre todo en cachorros cuyos dientes están creciendo.</p>
	 	<strong>$1.200</strong></li>
	 	<li><h2>Collar para Perro</h2>
	 	<img src="../static/images/collar1.png" width="150" title="perro" alt="collar">
	 	<p>Collar para perro con diseño de "Star Wars", hecho con material reforzado, ajustable y ademas cumple la funcion de collas anti-pulgas.</p>
	 	<strong>$1.800</strong></li>
	</ul>

	<ul class='articulos'>
		<li><h2>Laser</h2>
		<img src="../static/images/laser.png" width="150" title="juguete" alt="laser">
	 	<p>Juguete especial para mantener a tu gatito activo.</p>
	 	<strong>$600</strong></li>
	 	<li><h2>Varilla para gato</h2>
	 	<img src="../static/images/varilla.png" width="150" title="juguete" alt="varilla">
	 	<p>Es un juguete diseñado para despertar el instinto cazador de tu gato y son ideales para el vínculo entre el ser humano y su mascota.</p>
	  	<strong>$800</strong></li>
	  	<li><h2>Ratoncito</h2>
	 	<img src="../static/images/rati.png" width="150" title="juguete" alt="rata">
	 	<p>Excelente para jugar con su mascota o para sorprender a algún asustadizo!.</p>
	 	<strong>$1.200</strong></li>
	 	<li><h2>Collar para gatos</h2>
	 	<img src="../static/images/callarg1.png" width="150" title="collar" alt="gato">
	 	<p>Collar para gato con un hermoso diseño de "Batman", con costuras reforzadas, ajustable y cuenta con un cascabel para que tu catito juegue.</p>
	 	<strong>$1.800</strong></li>
	</ul>
 	 
	 <br> 
	 <br>
	
	<footer id="footerInicio">
      <p align ="center"> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
</body>
</html>