<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Alimento para Perro</title>
</head>
<body>
<header>
		<h1>Alimento para Perro</h1>
		<img src="../static/images/Productos/ADP/comidadeperro.jpg" width="100" title="perro" alt="ADP">
		<p>Marcas de alimento seleccionadas especialmente para cuidar a tu mejor amigo.</p>
		<p>Las necesidades pueden variar de acuerdo a la raza, edad y nivel de actividad de tu perro.</p>
		
  </header>
   

		<ul>
			<li> <a href="productos.html">Productos</a> </li> 
			<li> <a href="Alimentoparagato.html">Alimento para gato</a> </li>
			<li> <a href="Accesorios.html">Accesorios</a> </li>
		</ul>	

	 <h2>Pedigree Adulto 15kg</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\pedi1.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Ayuda su sistema inmunológico gracias a su contenido de antioxidantes, vitamina E y Selenio</p>
	 <strong>$6.600</strong>
	  <h2>Pedigree Cachorro 15kg</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\pedi2.jpg" width="150" title="perroadulto" alt="perro">
	 <P>Con Nutri Defense™ para un óptimo crecimiento, fibras naturales para una óptima digestión y con calcio para huesos fuertes</P>
	 <strong>$4.600</strong>
	  <h2>Raza Adulto 15kg</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\raza1.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Un alimento ideal para perros adultos que llevan una vida sedentaria y conviven con su familia en espacios reducidos.</p>
	 <strong>$8.000</strong>
	  <h2>Raza Cachorro 15kg</h2>
	 <img src="C:\Users\usuario\git\TP2_Grupo23\TP2_Grupo23\src\main\resources\static\images\Productos\raza2.jpg" width="150" title="perroadulto" alt="perro">
	<p>Menos sarro dental. Con Hexametafosfato de sodio, que son partículas de sal que se activan con la mordida del perro y separan el sarro de los dientes.</p>
	<strong>$6.000</strong>
	 
	 <br> 
	 <br>
	
	<footer>
      <p align ="center"> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
   
</body>
</html>