<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Alimento para gato</title>
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
	</head>
<body>
	<header>
		<div class='menu'>
			<h1>Alimento para gato</h1>
			<img src="../static/images/comidadegato.png" width="100" title="Alimento para gato" alt="ADG">
				<nav>
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li> <a href="productos.html">Productos</a> </li> 
						<li> <a href="alimentoparaperros.html">Alimento para perros</a> </li>
						<li> <a href="accesorios.html">Accesorios</a> </li>
					</ul>
				</nav>
		</div>
		
		
  	</header>
   
	<ul class='articulos'>
		<li><h2>Whiskas Adulto</h2>
		<img src="../static/images/wiskasA.png" width="150" title="Gato adulto" alt="gato">
	 	<p>Nueva receta, cuidadosamente preparada para satisfacer las necesidades nutricionales de su gato, apoya el funcionamiento gastrointestinal, contribuyendo a la formación de heces firmes y fáciles de limpiar.</p>
	 	<strong>$7.000</strong></li>
	 	<li><h2>Whiskas gatito</h2>
	 	<img src="../static/images/wiskasC.png" width="150" title="Gatito" alt="gatito">
	 	<p>La nueva receta de Whiskas Gatitos brinda a tu gatito una alimentación 100% completa y balanceada para que crezca sano y fuerte, contiene calcio que ayuda al desarrollo de dientes y huesos sanos, DHA para el desarrollo del cerebro y minerales controlados que ayudan a mantener la salud de su tracto urinario.</p>
	 	<strong>$6.500</strong></li>
	</ul>
 
	<ul class='articulos'>
		<li><h2>Purina Cat Chow (gato adulto)</h2>
	 	<img src="../static/images/cat1.png" width="150" title="Gato Adulto" alt="gato">
	 	<p>Una buena nutrición es fundamental para proteger la salud de los gatos, elaborado con una selección de ingredientes naturales y mejorado, con la inclusión de un prebiótico natural.</p>
	 	<strong>$6.000</strong></li>
	 	<li><h2>Purina Cat Chow (gatito)</h2>
	 	<img src="../static/images/cat2.png" width="150" title="Gatito" alt="gatito">
	 	<p>Alimento completo y balanceado para gatitos desde el destete hasta 12 meses de edad, hecho con todos los nutrientes que tu gatito necesita para favorecer un crecimiento sano, y mejorado con la inclusión de un prebiótico natural.</p>
	 	<strong>$5.200</strong></li>
	</ul>
 
	<ul class='articulos'>
		<li><h2>Raza Gato Adulto</h2>
	 	<img src="../static/images/razag1.png" width="150" title="Gato adulto" alt="gato">
	 	<p>El alimento Raza Adulto logra promover la flora bacteriana benéfica, contiene nucleótidos que son necesarios para la multiplicación y función normal de las células epiteliales de la mucosa intestinal.</p>
	 	<strong>$4.500</strong></li>
	 	<li><h2>Raza Gatito</h2>
	 	<img src="../static/images/razag2.png" width="150" title="Gatito" alt="gatito">
		<p>Luego de las primeras siete semanas de vida, la mayoría de los gatitos ya están destetados y preparados para incorporar una dieta sólida, el alimento Raza es ideal porque tiene prebióticos que refuerzan el sistema inmunológico.</p>
	 	<strong>$4.000</strong></li>
	</ul>

	 <br> 
	 <br>
	
	<footer th:replace="{layouts/footer :: footer}"id="footerInicio">
	 <!--<p align ="center"> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>-->
   </footer>

</body>
</html>