<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Alimento para gato</title>
</head>
<body>
<header>
		<h1>Alimento para gato</h1>
		<img src="../static/images/Productos/ADP/comidadegato.jpg" width="100" title="perro" alt="ADP">
		<p>Marcas de alimento seleccionadas especialmente para cuidar a tu mejor amigo, las necesidades pueden variar de acuerdo a la raza, edad y nivel de actividad de tu gatito.</p>		
  </header>
   

		<ul>
			<li> <a href="productos.html">Productos</a> </li> 
			<li> <a href="Alimentoparaperros.html">Alimento para perros</a> </li>
			<li> <a href="Accesorios.html">Accesorios</a> </li>
		</ul>	
	
	 <h2>Whiskas Adulto</h2>
	 <img src="..\static\images\Productos\wiskasA.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Nueva receta, cuidadosamente preparada para satisfacer las necesidades nutricionales de su gato, apoya el funcionamiento gastrointestinal, contribuyendo a la formación de heces firmes y fáciles de limpiar.</p>
	 <strong>$7.000</strong>
	 <h2>Whiskas gatito</h2>
	 <img src="..\static\images\Productos\wiskasC.jpg" width="150" title="perroadulto" alt="perro">
	 <p>La nueva receta de Whiskas Gatitos brinda a tu gatito una alimentación 100% completa y balanceada para que crezca sano y fuerte, contiene calcio que ayuda al desarrollo de dientes y huesos sanos, DHA para el desarrollo del cerebro y minerales controlados que ayudan a mantener la salud de su tracto urinario.</p>
	 <strong>$6.500</strong>
	 <h2>Purina Cat Chow (gato adulto)</h2>
	 <img src="..\static\images\Productos\cat1.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Una buena nutrición es fundamental para proteger la salud de los gatos, elaborado con una selección de ingredientes naturales y mejorado, con la inclusión de un prebiótico natural.</p>
	 <strong>$6.000</strong>
	 <h2>Purina Cat Chow (gatito)</h2>
	 <img src="..\static\images\Productos\cat2.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Alimento completo y balanceado para gatitos desde el destete hasta 12 meses de edad, hecho con todos los nutrientes que tu gatito necesita para favorecer un crecimiento sano, y mejorado con la inclusión de un prebiótico natural.</p>
	 <strong>$5.200</strong>
	 <h2>Raza Gato Adulto</h2>
	 <img src="..\static\images\Productos\razag1.jpg" width="150" title="perroadulto" alt="perro">
	 <p>El alimento Raza Adulto logra promover la flora bacteriana benéfica, contiene nucleótidos que son necesarios para la multiplicación y función normal de las células epiteliales de la mucosa intestinal.</p>
	 <strong>$4.500</strong>
	 <h2>Raza Gatito</h2>
	 <img src="..\static\images\Productos\razag2.jpg" width="150" title="perroadulto" alt="perro">
	 <p>Luego de las primeras siete semanas de vida, la mayoría de los gatitos ya están destetados y preparados para incorporar una dieta sólida, el alimento Raza es ideal porque tiene prebióticos que refuerzan el sistema inmunológico.</p>
	 <strong>$4.000</strong>
	 
	 <br> 
	 <br>
	
	<footer>
      <p align ="center"> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>

</body>
</html>