<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		
	</head>
<body>	
	<header th:replace ="~{layouts/header :: header}"></header>
		<section class="formprod">
			<h3 th:text="${edicion}?'Modificar Consejo' : 'Nuevos Consejos'">CONSEJOS NUEVOS</h3>	
			<form  th:action="${edicion}?@{/consejos/modificar}:@{/consejos/guardar}" th:object="${consejo}" method="post">
					<label>Titulo: </label>
					<div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" > </div>
					<input type="text" class="form-control" id="titulo" th:field="*{titulo}" th:readonly="${edicion}?'readonly'">
					<label>Consejo:</label>		
					<div class="text-danger" th:if="${#fields.hasErrors('Consejo')}" th:errors="*{Consejo}" > </div>
					<textarea class="inputForm" rows="5" cols="37" th:field="*{consejo}"></textarea> 
					
					<button class="form-element"  type="submit" th:text="${edicion}?'Modificar':'Guardar'"></button>
			</form>
		</section>
		
	<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</body>
</html>
