<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Consejo</title>
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		
	</head>
<body>
	<header th:replace="~{layouts/header :: header}"></header>	
	
			<div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-8 col-lg-8 col-xl-12 col-xxl-12">
                    <h2 class="tituloconsejo" >Consejos de salud para tu mascota</h2> 
              <p id= "parrafo">Aquí encontraras algunos consejos utiles para el cuidado de tu mascota. </p> 
                </div>
            </div>
            <a th:href="@{/nuevoConsejo}">Consejos Nuevos</a>
            <div class="row" >
                <div class="col-xs-8 col-sm-8 col-md-7 col-lg-7 col-xl-6 col-xxl-6" th:each = "cons: ${consejos}">
                    <div class="card mx-6 mt-3" style="width: 40rem;">
                          <img style="width: 150px;" class="card-img-top" alt="perro">
                          <div class="card-body box">
                            <h5 class="card-title" th:text="${cons.titulo}"></h5>
                            <p class="card-text" th:text="${cons.consejo}"></p>



                       </div>
                        <a class="EditElim" th:href="@{/consejos/modificar/}+${cons.titulo}">Editar</a>
                              <a class="EditElim" th:href="@{/consejos/eliminar/}+${cons.titulo}">Eliminar</a>
                    </div>
                </div>
            </div>
        </div>
	  
	  <aside id = "asidep">
	  	<h4>¿SABIAS QUE algunos perros no ladran?</h4>
	  	<p>En concreto, una raza originaria del este de Basenji, muy empleado para la caza. Tiene la peculiaridad de no ladrar, pero sí emite un curioso sonido (parecido a un canto tirolés).</p>
	  </aside>
	  
	  <br>
	  <br>
	  
	<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>