<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Contáctanos</title>
</head>
<body>
	<header>
		<h1>Littlest Pets Shop</h1>
		<img>
	 <nav>
		<ul>
			<li> <a href="index.html">Inicio</a> </li>
			<li> <a href="productos.html">Productos</a> </li> 
			<li> <a href="consejos.html">Consejos de salud</a> </li>
			<li> <a href="serviciosDePaseo.html">Servicios de paseos</a> </li>
			<li> <a href="sucursales.html">Sucursales</a> </li>
			<li> <a href="contacto-form.html">Contactanos</a> </li>
		</ul>	
	 </nav>		
   </header>
   <h2>Contáctenos</h2>
   
   <p>260 Calle Bustamante, barrio Santa Rosa, 388-5970702 <br>
   	  Lunes a viernes: 9:00 a.m. a 8:00 p.m. <br>
   	  Sábado a domingo: 9:00 a.m. a 13:00 p.m  <br>
   	  <a href="littlepetshop@gmail.com"> littlepetshop@gmail.com</a>
   </p>
   
   <ul>
     <li> <a href="facebook.com">Facebook</a></li>
     <li> <a href="instagram.com">Instagram</a></li>
     <li> <a href="twitter.com">Twitter</a></li>
   </ul>
   
   <form>
   		<label>Nombre<input type="text" name="Ingrese su nombre" placeholder="Ingrese su nombre" required></label> <br>	
   		
   		<label>Email<input type="text" name="ingrese su Email" placeholder="ingrese un email válido" required></label> <br>
   		<label>Ciudad<input type="text" name="Ingrese su ciudad" placeholder=" Ingrese su ciudad" required> </label> <br>
   		<label>mensaje</label>
   		<textarea rows="" cols=""></textarea> <br>
   		<button type="submit">Enviar</button>
   </form>
   

</body>
</html>