<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contáctanos</title>
		<link rel="styLesheet" href="../static/css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link rel="styLesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	</head>
<body>
	<header>
		<div class='menu'>
			<h1>Littlest Pets Shop</h1> 
			<img src="../static/images/logor.png" width="150" title="LogoLittlest" alt="perrito kawaii">
				<nav >
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="consejos.html">Consejos de salud</a></li>
						<li><a href="serviciosDePaseo.html">Servicios de paseos</a></li>
						<li><a href="sucursales.html">Sucursales</a></li>
						<li><a href="contacto-form.html">Contactanos</a></li>
					</ul>
				</nav>
		</div>
	</header>
	
<section class="sectionForm">
		<div class="contactenos">
			<div class="parte1">
				<h2>Contáctenos</h2>
				<p class="imgForm"><img src="../static/images/contacto.png" width="150"
					title="Perrito contacto" alt="perrito"></p>
				<article>
					<p>
						Independencia esq- Alberdi-Barrio centro 388-6439281 <br>
						Lunes a viernes: 9:00 a.m. a 8:00 p.m. <br> Sábados a
						domingos: 9:00 a.m. a 13:00 p.m <br>
					</p>
	
				</article>
				<article class="paginas">
					
						<a class="logos" href="https://www.gmail.com/"><i class="fa-solid fa-envelope"></i></a>
						<a class="logos" href="https://es-la.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
						<a  class="logos" href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
						<a class="logos" href="https://www.twitter.com/"><i class="fa-brands fa-twitter"></i></a>
					
				</article>
			</div>
				

		</div>	
			
		
		<div  class="contactenos">
			<div class="parte2">
				<label class="label">Nombre</label> <br>
				<input class="inputForm" type="text" name="Ingrese su nombre" placeholder="Ingrese su nombre" required> <br>
				<label class="label">Email</label> <br>
				<input class="inputForm" type="email" name="Ingrese su Email" placeholder="Ingrese un email válido" required> <br>
				<label class="label">Ciudad</label><br>
				<input class="inputForm" type="text" name="Ingrese su ciudad" placeholder=" Ingrese su ciudad" required><br>
				<label class="label">Mensaje</label> <br>
				<textarea class="inputForm" rows="" cols="" placeholder="tu mensaje..."></textarea><br>
			    <button class="boton" type="submit">Enviar</button>
			</div>
			
		</div>
			
	       </section>

	<aside class="asideForm">
		<h4>¿SABÍAS QUÉ los gatos pueden pasar hasta 14 horas dormidos?</h4>
		<p>Los gatos domésticos pasan cerca del 70 por ciento del día
			durmiendo,<br> y 15 por ciento del día acicalándose.</p>
		<p class="imgForm2"><img src="../static/images/gatito.png" width="150" title="Gatito durmiendo" alt="durmiendo"></p>
		
	</aside>
	<br>
	<footer id="footerInicio">
		<p>&copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
	</footer>

</body>
</html>