<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>inicio</title>
</head>
<body>
	<header>
		<h1>Littlest Pets Shop</h1>
		<img src="../static/images/imginicio/logor.jpg" width="200"
			title="Littlest Pets Shop" alt="Imagen del logo">
	</header>
	<nav>
		<ul>
			<li><a href="index.html">Inicio</a></li>
			<li><a href="productos.html">Productos</a></li>
			<li><a href="consejos.html">Consejos de salud</a></li>
			<li><a href="serviciosDePaseo.html">Servicios de paseos</a></li>
			<li><a href="sucursales.html">Sucursales</a></li>
			<li><a href="contacto-form.html">Contactanos</a></li>
		</ul>
	</nav>
	<section>
		<article>
			<h2>Conócenos</h2>
			<p>
				¡Hola!. Bienvenido/a a Littlest Pet Shop, en esta página encontrarás
				los mejores productos para tu mascota. <br> Tenemos alimentos
				de todos los precios y calidad, juguetes, ropa y accesorios de todos
				los colores, tamaños y muchos más.<br> Hacemos Envíos gratis a
				domicilio. Comprá online o en cualquiera de nuestras 10 sucursales.<br>
				Recibimos pago por transferencia, tarjeta y efectivo.
			</p>
		</article>
		<article>
			<h3>Nuestros Objetivos</h3>
			<ul>
				<li>Ayudarte con el cuidado de tus mascotas con nuestros
					consejos de salud.</li>
				<li>Acompañarte en su crecimiento con nuestros productos
					seleccionados especialmente para tu mascota.</li>
				<li>Brindarte los mejores servicios de paseo con nuestro
					personal especialmente capacitado.</li>


			</ul>
		</article>


	</section>
	<aside>
		<h3>¿SABÍAS QUÉ los perros tienen dientes de leche?</h3>
		<p>
			Nacen sin dientes pero a las pocas semanas ya les salen los primeros
			dientes de leche,<br> A partir de los 3 meses empiezan a
			cambiarlos por los dientes definitivos
		</p>
		<img src="../static/images/imginicio/perrito.jpeg" width="150"
			title="Perrito kawaii" alt="perrito kawaii">
		<h4>¿SABÍAS QUÉ los gatos pueden pasar hasta 14 horas dormidos?</h4>
		<p>Los gatos domésticos pasan cerca del 70 por ciento del día
			durmiendo, y 15 por ciento del día acicalándose.</p>
		<img src="../static/images/imginicio/gatito.jpeg" width="150"
			title="Gatito durmiendo" alt="gatito durmiendo">
	</aside>
	<footer>
		<p align="center">&copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23
			- Jujuy - Republica Argentina</p>
	</footer>
</body>
</html>