<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Inicio</title>
		<link rel="styLesheet" th:href="@{../static/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
	</head>
<body>
	<header>
		<div class='menu'>
			<h1>Littlest Pets Shop</h1> 
			<img src="../static/images/logor.png" width="150" title="LogoLittlest" alt="perrito kawaii">
				<nav >
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="consejos.html">Consejos de salud</a></li>
						<li><a href="serviciosDePaseo.html">Servicios de paseos</a></li>
						<li><a href="sucursales.html">Sucursales</a></li>
						<li><a href="contacto-form.html">Contactanos</a></li>
					</ul>
				</nav>
		</div>
	</header>
	<section class="content">
		<article >
			<h2>Conócenos</h2>
			<p>
				¡Hola!. Bienvenido/a a Littlest Pet Shop, en esta página encontrarás
				los mejores productos para tu mascota. <br> Tenemos alimentos
				de todos los precios y calidad, juguetes, ropa y accesorios de todos
				los colores, tamaños y muchos más. Hacemos Envíos gratis a
				domicilio.<br> Comprá online o en cualquiera de nuestras 10 sucursales.
				Recibimos pago por transferencia, tarjeta y efectivo.
			</p>
		</article>
		<article class="articulo">
			<h3>Nuestros Objetivos</h3>
			<ul class="objetivos">
				<li>Ayudarte con el cuidado de tus mascotas con nuestros
					consejos de salud.</li>
				<li>Acompañarte en su crecimiento con nuestros productos
					seleccionados especialmente para tu mascota.</li>
				<li>Brindarte los mejores servicios de paseo con nuestro
					personal especialmente capacitado.</li>


			</ul>
		</article>
	</section>
	<aside class="content2">
		<h3>¿SABÍAS QUÉ los perros tienen dientes de leche?</h3>
		<p>
			Nacen sin dientes pero a las pocas semanas ya les salen los primeros
			dientes de leche. A partir de los 3 meses empiezan a
			cambiarlos por los dientes definitivos.
		</p>
		<p class="imgcentrado"><img src="../static/images/perrito.png" width="150" title="Perrito kawaii" alt="perrito kawaii"></p>
		
	</aside> 
	<br>
	<footer id="footerInicio">
		<p>&copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
	</footer>
</body>
</html>