<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>inicio</title>
</head>
 <body>
   <header>
		<h1>Littlest Pets Shop</h1>
		<img src="../static/images/logo.jpeg" width="150" title="Littlest Pets Shop" alt="Imagen del logo">
	 <nav>
		<ul>
			<li> <a href="index.html">Inicio</a> </li>
			<li> <a href="productos.html">Productos</a> </li> 
			<li> <a href="consejos.html">Consejos de salud</a> </li>
			<li> <a href="serviciosDePaseo.html">Servicios de paseos</a> </li>
			<li> <a href="sucursales.html">Sucursales</a> </li>
			<li> <a href="contacto-form.html">Contactanos</a> </li>
		</ul>	
	 </nav>		
   </header>
   <section>
   		<article>
   		   <p>En littlest pet shop tenemos los mejores productos para tu mascota. Envíos gratis a domicilio. Comprá online o en cualquiera de nuestras 10 sucursales. </p> 
   		</article>
	
	
   </section>
   <aside>
   
   </aside>
   <footer>
      <p> Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
 </body>
</html>