<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/estilo.css}" > 
	<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link rel="styLesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
	<body>
		<form class="formLogin" th:action="@{/login}" th:object="${formLogin}" method="post">
			<label class="labelLogin">Usuario</label>
			<input class="inputLogin" type="text" th:field="*{usuario}"><br>
			<label class="labelLogin">Password</label>
			<input class="inputLogin" type="password" th:field="*{password}"><br>
			<input class="inputLogin" type="submit" value="Ingresar">
			<p class="parrafoLogin" th:if="${error}" th:text="${error}"></p>
		</form>
		
	</body>
</html>
