<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Nuevos Objetivos</title>
		<link rel="stylesheet" th:href="@{/css/estilo.css}" > 
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link rel="styLesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
<body>
	<header th:replace = "~{layouts/header :: header}"> </header>
		<div class="objForm container">
			<h3 th:text="${edicion}? 'Modificar Objetivos' : 'Nuevo Objetivo'"></h3>
			<form th:action="${edicion}?@{/inicio/modificar}:@{/inicio/guardar}" th:object="${objetivo}" method="post">
				<div class=row>
					<div class="col-12">
						<input class="inputObj" type="text" name="objetivo..."  th:field="*{objetivos}"> <br>
						<div class="text-danger" th:if="${#fields.hasErrors('objetivos')}" th:errors="*{objetivos}"></div>
					</div>
					<div class="col-12">
			    		<p><input  type="submit" class="button" th:value="${edicion}?'Modificar' : 'Guardar'"></p>
					</div>
				</div>
					<input type="hidden" th:field="*{id}">
			</form>
		</div>
		<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>