<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="ISO-8859-1">
<title>Nuevos Objetivos</title>
		<link rel="stylesheet" th:href="@{/css/estilo.css}" > 
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link rel="styLesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
	<header th:replace = "~{layouts/header :: header}"> </header>
	<div class="objForm">
		<h3 th:text="${edicion}? 'Modificar Objetivos' : 'Nuevo Objetivo'"></h3>
		<form th:action="${edicion}?@{/inicio/modificar}:@{/inicio/guardar}" th:object="${objetivo}" method="post">
			<label class="labelObj">Nuevo objetivo</label> 
			<input class="inputObj" type="text" name="objetivo..."  th:field="*{objetivos}" required> <br>
			<p><input  type="submit" class="button" th:value="${edicion}?'Modificar' : 'Guardar'"></p>
			<input type="hidden" th:field="*{id}">
		</form>
	</div>
	<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
</body>
