<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Productos</title>
<title>Insert title here</title>
</head>
<body>
<header>
		<h1>Littlest Pets Shop</h1>
		<img src="../static/images/logo3.png" width="150" title="Littlest Pets Shop" alt="logo3">
		
  </header>
   
   	 <nav>
		<ul>
			<li> <a href="index.html">Inicio</a> </li>
			<li> <a href="productos.html">Productos</a> </li> 
			<li> <a href="consejos.html">Consejos de salud</a> </li>
			<li> <a href="serviciosDePaseo.html">Servicios de paseos</a> </li>
			<li> <a href="sucursales.html">Sucursales</a> </li>
			<li> <a href="contacto-form.html">Contactanos</a> </li>
		</ul>	
	 </nav>
	 <h1>PRODUCTOS</h1>
	 
   	 <nav>
		<ul>
			<li> <a href="Alimentoparaperros.html">Alimento para perros</a> </li>
			<img src="../static/images/Productos/ADP/adp.jpg" width="95" title="perro" alt="ADP">
			<li> <a href="Alimentoparagato.html">Alimento para gatos</a> </li>
			<img src="../static/images/Productos/ADP/adg.jpg" width="95" title="gato" alt="ADG">
			<li> <a href="Accesorios.html">Accesorios</a> </li>
			<img src="../static/images/Productos/ADP/acc.jpg" width="100" title="accesorio" alt="ACC">

		</ul>	
	 </nav>
	 	 <br> 
	 <br>
	
	<footer>
      <p> &copy Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
	
</body>
</html>