<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Productos</title>
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	</head>
<body>
	<header th:replace ="~{layouts/header :: header}"></header>
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-8 col-lg-8 col-xl-12 col-xxl-12">
					<h2 class="titulo"> ALIMENTO PARA PERRO ADULTO</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" >		
					<div class="card mx-6 mt-3" style="width: 18rem;">
						  <img th:src="@{/images/pedi1.png}" style="width: 150px;" class="card-img-top" alt="perro">
						  <div class="card-body box">
						    <h5 class="card-title">Pedrigree Adulto</h5>
						    <p class="card-text">Ellos nos dan alegría y nos llenan de felicidad. Alimento con proteínas de alta calidad para músculos más fuertes. Además, el marrowbone aporta el calcio necesario para mantener huesos y dientes más saludables.</p>
						    <a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $12.600</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
					<div class="card mx-3 mt-3" style="width: 18rem;">
						 <img th:src="@{/images/raza1.png}"  style="width: 150px;" class="card-img-top img-fluid" alt="perroraza">
						<div class="card-body box">
						<h5 class="card-title">Raza Adulto</h5>
						<p class="card-text">El  alimento balanceado para perros RAZA es el preferido por el paladar canino y una de las variedades que tu mascota va a disfrutar en cada comida. Gracias a su complejo vitamínico mineral con Omega 3 y 6, ayudará a que tenga huesos sanos y fuertes, excelente visión, pelaje brillante y mayor vitalidad.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $8.000</a>				
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/sabroA.png}"  style="width: 122px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Sabrocitos Adulto</h5>
						<p class="card-text">La línea Sabrositos, elaborada con ingredientes naturales de alta calidad, le aporta a tu mascota una nutrición 100% completa y balanceada, cubriendo todos sus requerimientos nutricionales y brindándole las vitaminas, proteínas y minerales adecuados para una vida sana.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $9.500</a>				
					</div>
				</div>
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/royalcannin.png}"  style="width: 150px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Royal Canin Adulto</h5>
						<p class="card-text">Mantiene la forma ideal en la edad adulta.
											Ayuda a mantener las defensas naturales del perro gracias a los manano-oligosacáridos que estimulan la flora intestinal beneficiosa, contiene vitaminas E y C para evitar la oxidación celular.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $9.500</a>				
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/naturalmeat.png}"  style="width: 140px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Natural Meat</h5>
						<p class="card-text">Este alimento es indicado para proveer una alimentación completa y equilibrada, manteniéndolos activos y garantizando el correcto funcionamiento de su salud intestinal, osea y dental.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary"> Comprar $8.195</a>				
					</div>
				</div>
			</div>
			
		</div>
	</div>

		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-8 col-lg-8 col-xl-12 col-xxl-12">
					<h2 class="titulo"> ALIMENTO PARA PERRO CACHORRO</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" >		
					<div class="card mx-6 mt-3" style="width: 18rem;">
						  <img th:src="@{/images/Pedi2.png}" style="width: 150px;" class="card-img-top" alt="perro">
						  <div class="card-body box">
						    <h5 class="card-title">Pedigree Cachorro</h5>
						    <p class="card-text">Con Nutri Defense™ para un óptimo crecimiento, fibras naturales para una óptima digestión y con calcio para huesos fuertes.</p>
						    <a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $9.600</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
					<div class="card mx-3 mt-3" style="width: 18rem;">
						 <img th:src="@{/images/raza2.png}" style="width: 168px;" class="card-img-top img-fluid" alt="perroraza">
						<div class="card-body box">
						<h5 class="card-title">Raza Cachorro</h5>
						<p class="card-text">Menos sarro dental. Con Hexametafosfato de sodio, que son partículas de sal que se activan con la mordida del perro y separan el sarro de los dientes..</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $6.000</a>				
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/sabroC.png}" style="width: 136px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Sabrocitos cachorro</h5>
						<p class="card-text">La línea Cachorros está formulada con la más alta composición nutricional y los ingredientes que más necesita en esta etapa.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $7.600</a>				
					</div>
				</div>
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/royalcaninC.png}"  style="width: 130px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Royal Canin Cachorro</h5>
						<p class="card-text">Mantiene la forma ideal en la edad adulta.
											Ayuda a mantener las defensas naturales del perro gracias a los manano-oligosacáridos que estimulan la flora intestinal beneficiosa, contiene vitaminas E y C para evitar la oxidación celular.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $9.500</a>				
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/naturalmeatC.png}"  style="width: 130px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Natural Meat Cachorros</h5>
						<p class="card-text">Este alimento es indicado para proveer una alimentación completa y equilibrada, manteniéndolos activos y garantizando el correcto funcionamiento de su salud intestinal, osea y dental.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary"> Comprar $8.195</a>				
					</div>
				</div>
			</div>
			
		</div>
	</div>

		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-8 col-lg-8 col-xl-12 col-xxl-12">
					<h2 class="titulo"> ALIMENTO PARA GATO ADULTO</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" >		
					<div class="card mx-6 mt-3" style="width: 18rem;">
						  <img th:src="@{/images/wiskasA.png}" style="width: 130px;" class="card-img-top" alt="perro">
						  <div class="card-body box">
						    <h5 class="card-title">Whiskas Adulto</h5>
						    <p class="card-text">Nueva receta, cuidadosamente preparada para satisfacer las necesidades nutricionales de su gato, apoya el funcionamiento gastrointestinal, contribuyendo a la formación de heces firmes y fáciles de limpiar.</p>
						    <a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $8.000</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
					<div class="card mx-3 mt-3" style="width: 18rem;">
						 <img th:src="@{/images/cat1.png}" style="width: 170px;" class="card-img-top img-fluid" alt="perroraza">
						<div class="card-body box">
						<h5 class="card-title">Purina Cat Chow Adulto</h5>
						<p class="card-text">Una buena nutrición es fundamental para proteger la salud de los gatos, elaborado con una selección de ingredientes naturales y mejorado, con la inclusión de un prebiótico natural.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $10.000</a>				
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/razag1.png}" style="width: 122px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Royal canin Gato</h5>
						<p class="card-text">Una buena nutrición es fundamental para proteger la salud de los gatos, Royal canin le aporta a tu mascota una nutrición 100% completa y balanceada, cubriendo todos sus requerimientos nutricionales y brindándole las vitaminas, proteínas y minerales adecuados para una vida sana.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $7.500</a>				
					</div>
				</div>
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/royalcaninGA.png}" style="width: 120px;" class="card-img-top img-fluid" alt="gatoroyal">
					<div class="card-body box">
						<h5 class="card-title">Raza Gato Adulto</h5>
						<p class="card-text">El alimento Raza Adulto logra promover la flora bacteriana benéfica, contiene nucleótidos que son necesarios para la multiplicación y función normal de las células epiteliales de la mucosa intestinal.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $9.500</a>				
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/kongo.png}"  style="width: 155px;" class="card-img-top img-fluid" alt="gatokongo">
					<div class="card-body box">
						<h5 class="card-title">Kongo Gato adulto</h5>
						<p class="card-text">KONGO es indicado para proveer una alimentación completa y equilibrada a tu gatito, manteniéndolos activos y garantizando el correcto funcionamiento de su salud intestinal.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary"> Comprar $9.250</a>				
					</div>
				</div>
			</div>
			
		</div>
	</div>
			<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-8 col-lg-8 col-xl-12 col-xxl-12">
					<h2 class="titulo"> ALIMENTO PARA GATITO</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" >		
					<div class="card mx-6 mt-3" style="width: 18rem;">
						  <img th:src="@{/images/wiskasC.png}" style="width: 120px;" class="card-img-top" alt="gatowiskas">
						  <div class="card-body box">
						    <h5 class="card-title">Whiskas gatito</h5>
						    <p class="card-text">La nueva receta de Whiskas Gatitos brinda a tu gatito una alimentación 100% completa y balanceada para que crezca sano y fuerte, contiene calcio que ayuda al desarrollo de dientes y huesos sanos, DHA para el desarrollo del cerebro y minerales controlados que ayudan a mantener la salud de su tracto urinario.</p>
						    <a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $6.500</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
					<div class="card mx-3 mt-3" style="width: 18rem;">
						 <img th:src="@{/images/cat2.png}" style="width: 170px;" class="card-img-top img-fluid" alt="gatopurina">
						<div class="card-body box">
						<h5 class="card-title">Purina Cat Chow (gatito)</h5>
						<p class="card-text">Alimento completo y balanceado para gatitos desde el destete hasta 12 meses de edad, hecho con todos los nutrientes que tu gatito necesita para favorecer un crecimiento sano, y mejorado con la inclusión de un prebiótico natural.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $8.200</a>				
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/razag2.png}" style="width: 166px;" class="card-img-top img-fluid" alt="gatoraza">
					<div class="card-body box">
						<h5 class="card-title">Raza Gatito</h5>
						<p class="card-text">Luego de las primeras siete semanas de vida, la mayoría de los gatitos ya están destetados y preparados para incorporar una dieta sólida, el alimento Raza es ideal porque tiene prebióticos que refuerzan el sistema inmunológico.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $6.000</a>				
					</div>
				</div>
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/royalcaninGC.png}"  style="width: 130px;" class="card-img-top img-fluid" alt="gatoroyal">
					<div class="card-body box">
						<h5 class="card-title">Royal Canin Gatito</h5>
						<p class="card-text">Royal Canin ayuda a mantener las defensas naturales del gatito y estimulan la flora intestinal beneficiosa, contiene vitaminas E y C para evitar la oxidación celular.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $9.500</a>				
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/kongoC.png}"  style="width: 150px;" class="card-img-top img-fluid" alt="perroraza">
					<div class="card-body box">
						<h5 class="card-title">Kongo Gatito</h5>
						<p class="card-text">Este alimento es indicado para proveer una alimentación completa y equilibrada, manteniéndolos activos y garantizando el correcto funcionamiento de su salud intestinal, osea y dental.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary"> Comprar $6.395</a>				
					</div>
				</div>
			</div>
			
		</div>
	</div>
			<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-4 col-md-8 col-lg-8 col-xl-12 col-xxl-12">
					<h2 class="titulo"> ARTICULOS PARA TU MASCOTA</h2>
			</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" >		
					<div class="card mx-6 mt-3" style="width: 18rem;">
						  <img th:src="@{/images/hueso.png}" style="width: 156px;" class="card-img-top" alt="jueguete hueso">
						  <div class="card-body box">
						    <h5 class="card-title">Hueso</h5>
						    <p class="card-text">Juguete que posee textura para masajear las encías y ayuda a promover la buena salud dental.</p>
						    <a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $900</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
					<div class="card mx-3 mt-3" style="width: 18rem;">
						 <img th:src="@{/images/soga.png}" style="width: 400px;" class="card-img-top img-fluid" alt="jueguete soga">
						<div class="card-body box">
						<h5 class="card-title">Soga</h5>
						<p class="card-text">Juguete de hilo para perro, fabricado en algodón, ejercita la mandíbula y limpia los dientes de tu mascota.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $800</a>				
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/sapo.png}" style="width: 80px;" class="card-img-top img-fluid" alt="jueguete sopito">
					<div class="card-body box">
						<h5 class="card-title">Sapito</h5>
						<p class="card-text">Ayuda a eliminar estrés y ansiedad, sobre todo en cachorros cuyos dientes están creciendo..</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $1.200</a>				
					</div>
				</div>
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/collar1.png}" style="width: 100px;" class="card-img-top img-fluid" alt="collar StarWars">
					<div class="card-body box">
						<h5 class="card-title">Collar para Perro(Star Wars)</h5>
						<p class="card-text">Collar collas anti-pulgas con diseño de "Star Wars", material reforzado y regulable.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $1.800</a>				
					</div>
				</div>
			</div>			
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4" >		
					<div class="card mx-6 mt-3" style="width: 18rem;">
						  <img th:src="@{/images/laser.png}" style="width: 290px;" class="card-img-top" alt="jueguete laser">
						  <div class="card-body box">
						    <h5 class="card-title">Laser</h5>
						    <p class="card-text">Juguete especial para mantener a tu gatito activo, estimulando sus reflejos. El brillo de la luz roja y el rápido movimiento del láser hacen que el gato crea que se trata de un ser vivo y, por lo tanto, una presa.</p>
						    <a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $600</a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
					<div class="card mx-3 mt-3" style="width: 18rem;">
						 <img th:src="@{/images/varilla.png}" style="width: 140px;" class="card-img-top img-fluid" alt="jueguete varilla">
						<div class="card-body box">
						<h5 class="card-title">Varilla para gato</h5>
						<p class="card-text">Es un juguete diseñado para despertar el instinto cazador de tu gato y son ideales para el vínculo entre el ser humano y su mascota.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $800</a>				
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img  th:src="@{/images/rati.png}" style="width: 150px;" class="card-img-top img-fluid" alt="jueguete sopito">
					<div class="card-body box">
						<h5 class="card-title">Ratoncito</h5>
						<p class="card-text">Excelente para jugar con su mascota o para sorprender a algún asustadizo!.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $1.200</a>				
					</div>
				</div>
			</div>
				
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
				<div class="card mx-3 mt-3" style="width: 18rem;">
						<img th:src="@{/images/callarg1.png}" style="width: 140px;" class="card-img-top img-fluid" alt="collar StarWars">
					<div class="card-body box">
						<h5 class="card-title">Collar para gatos (Batman)</h5>
						<p class="card-text">Collar para gato con un hermoso diseño de "Batman", con costuras reforzadas, ajustable y cuenta con un cascabel para que tu catito juegue.</p>
						<a href="https://www.mercadopago.com.ar/" class="btn btn-primary">Comprar $1.800</a>				
					</div>
				</div>
			</div>			
		</div>
	</div>
	
	
	 	<section class="paseo">
	  		<p class="centrado"><a th:href="@{/nuevo}">Productos Nuevos</a></p>		  		
	  		<table style="width: 80%" border=1>
		  			<tr>
		  				<th>Codigo</th>
		  				<th>Nombre articulo</th>
		  				<th>Precio</th>
		  				<th>Descuento</th>
						<th>Precio con descuento</th>
		  				<th>Categoria</th>
		  				<th>Imagen</th>
		  				<th>Acciones</th>
		  			</tr>
		  			<tr th:each = "prod: ${productos}">
		  				<td th:text="${prod.codigo}"></td>
		  				<td th:text="${prod.nombre}"></td>
		  				<td th:text="${prod.precio}"></td>
		  				<td th:text="${prod.descuento}"></td>
		  				<td th:text="${prod.preciodescuento}"></td>
		  				<td th:text="${prod.categoria}"></td>
		  				<td>
		  					<a class= "EditElim" th:href="@{/productos/modificar/}+${prod.nombre}">Editar</a>
		  					<a class= "EditElim" th:href="@{/productos/eliminar/}+${prod.nombre}">Eliminar</a>
		  				</td>
		
		  			</tr>
		  			
		  		</table>
  		  		
  	</section>

	 <br> 
	 <br>
	 
	 <aside id="asidep">
	 	<h4>¿SABIAS QUE los perros y gatos son capaces de detectar tus sentimientos?.</h4>
		<p>Según diversos estudios, los perros pueden detectar cambios sutiles en nuestro olor, lo que les ayuda a comprender cómo nos sentimos (por ejemplo, si sudas, puede interpretar que estás nervioso o inquieto). También aseguran que las perras son capaces de detectar si un miembro de la familia está embarazada.</p>
	</aside>
	 
	 <br>
	 <br>
	 
	<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</body>
</html>