<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
<body>
	<header th:replace ="~{layouts/header :: header}"></header>
	<div>
	
		<section>
		<div class="col-8 col-lg-10 objForm container">
			<div class="container-fluid parte2 mt-4 mb-3 text-center ">
			<form th:action="${edicion}?@{/productos/modificar}:@{/productos/guardar}" th:object="${producto}" method="post">			
				<h3 class="titnuevsuc" th:text="${edicion}?'Modificar Producto' : 'Producto Nuevos'">PRODUCTOS NUEVOS</h3>
				<label for="codigo" class="label" >Codigo Articulo</label>
				<div >
					<input class="inputForm" type="text" id="codigo" name="producto_codigo" th:field="*{codigo}" th:readonly="${edicion}?'readonly'">
					<div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
				</div><br><br>
				
				
				<label for="nombre" class="label">Nombre articulo</label>
				<div>
					<input class="inputForm" type="text" id="nombre" name="producto_nombre" th:field="*{nombre}">
					<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div><br><br>
				
				<label for="descripcion" class="label"> Descripcion </label><br>
                    <textarea class="inputForm" rows="5" cols="37" id="descripcion" name="producto_descripcion" th:field="*{descripcion}"></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
                    <br><br>
				
				<label for="precio" class="label">Precio</label>
				<div>
					<input class="inputForm" type="text" id="precio" name="producto_precio" th:field="*{precio}">
					<div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
				</div><br><br>
				
								
				<label for="descuento" class="label">Descuento</label>
				<div>
					<input class="inputForm" type="text" id="descuento" name="producto_descuento" th:field="*{descuento}">
					<div class="text-danger" th:if="${#fields.hasErrors('descuento')}" th:errors="*{descuento}"></div>
				</div><br><br>
				
				<label for="categoria" class="label">Categoria</label>
				<div>
				 <select class="inputForm" id="categoria" name="Categoria" aria-label="default select example" th:field="*{categoria}">
					<option value="" selected>Seleccione una categoria</option>
					<option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria}">
				</select>
				<div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
				</div>
				<div class="modal-dialog modal-sm">
				
				</div>
				<button class="form-element" data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit" th:text="${edicion}?'Modificar':'Guardar'"></button>	
			</form>

			</div>
		</div>
		</section>
	</div>
	
	<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</body>

</html>