<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Productos</title>
		<link rel="styLesheet" href="../static/css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
	</head>
<body>
	<header>
		<div class='menu'>
			<h1>Littlest Pets Shop</h1> 
			<img src="../static/images/logor.png" width="150" title="LogoLittlest" alt="perrito kawaii">
				<nav >
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="consejos.html">Consejos de salud</a></li>
						<li><a href="serviciosDePaseo.html">Servicios de paseos</a></li>
						<li><a href="sucursales.html">Sucursales</a></li>
						<li><a href="contacto-form.html">Contactanos</a></li>
					</ul>
				</nav>
		</div>
	</header>
	 <div class='menuProductos'>
	 	<h2>PRODUCTOS</h2>
	 		<ul>
				<li> <a href="Alimentoparaperros.html">Alimento para perros
				<img src="../static/images/comidadeperro.png" width="95" title="alimetoparaperro" alt="ADP"></a>
				</li>
				<li> <a href="Alimentoparagato.html">Alimento para gatos
				<img src="../static/images/comidadegato.png" width="95" title="alimentoparagato" alt="ADG">
				</a> 
				</li>
				<li> <a href="Accesorios.html">Accesorios
				<img src="../static/images/accesorios.png" width="100" title="accesorioparamabos" alt="ACC">
				</a>
				</li>
			</ul>
		</div>
	

	 <br> 
	 <br>
	 
	 <aside id=asidep>
	 	<h4>¿SABIAS QUE los perros y gatos son capaces de detectar tus sentimientos?.</h4>
		<p>Según diversos estudios, los perros pueden detectar cambios sutiles en nuestro olor, lo que les ayuda a comprender cómo nos sentimos (por ejemplo, si sudas, puede interpretar que estás nervioso o inquieto). También aseguran que las perras son capaces de detectar si un miembro de la familia está embarazada.</p>
	</aside>
	 
	 <br>
	 <br>
	 
	<footer id=footerInicio>
      <p align ="center"> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
</body>
</html>