<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	</head>
<body>
	<header th:replace ="~{layouts/header :: header}"></header>
	<div>
	
		<section>
			<form class="formprod" th:action="${edicion}?@{/productos/modificar}:@{/productos/guardar}" th:object="${productos}" method="post">			
				<h3 class="titnuevsuc" th:text="${edicion}?'Modificar Producto' : 'Producto Nuevos'">PRODUCTOS NUEVOS</h3>
				<label for="codigo">Codigo Articulo</label>
				<input type="number" id="codigo" name="producto_codigo" th:field="*{codigo}"><br><br>
				<label for="nombre">Nombre articulo</label>
				<input type="text" id="nombre" name="prducto_nombre" th:field="*{nombre}"><br><br>
				<label for="precio">Precio</label>
				<input type="number" id="precio" name="producto_precio" th:field="*{precio}"><br><br>
				<label for="descuento">Descuento</label>
				<input type="number" id="descuento" name="producto_descuento" th:field="*{descuento}"><br><br>
				<label for="categoria">Categoria</label>
				<select id="categoria" name="Categoria" th:field="*{categoria}">
					<option value="Alimento perro adulto">Alimento perro adulto</option>
					<option value="Alimento gato adulto">Alimento gato adulto</option>
					<option value="Alimento para cachorro">Alimento perro cachorro</option>
					<option value="Alimento gato cachorro">Alimento gato chachorro</option>
					<option value="Accesorios">Accesorios</option>
					<option value="Cuidados">Cuidados</option>
					<option value="Juguetes">Juguetes</option>
					<option value="Vestimenta">Vestimenta</option>
					
				</select>
				
				<button class="form-element"  type="submit" th:text="${edicion}?'Modificar':'Guardar'"></button>
							
			</form>
		</section>
	</div>
	
	<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
</body>

</html>	