<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Servicio de Paseo</title>
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	</head>
<body>
	<header th:replace="~{layouts/header :: header}"></header>		
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-sm-11 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
				
					<section class="paseo">
				 	<article>
				 	<div class="text-center" >
				 		<h2>Servicio de Paseo</h2>
						<img th:src="@{/images/paseo1.png}" width="150" title="Littlest paseo" alt="Imagen del paseador">
				 	</div>
						
					</article>
					
					<article >
					<div class="text-center">
						<a th:href="@{/servicios/nuevo}">Nuevo Paseador</a>
					</div>
						<table border ="1"  class="table table-striped table-hover"> 
						<tr>
							<th>Paseador</th>
							<th>Telefono</th>
							<th>Dias</th>
							<th>Horarios</th>
							<th>Adiciones</th>
						</tr>
						<tr th:each="serv: ${servicio}">
							<td th:text = "${serv.paseador}"></td>
							<td th:text = "${serv.telefono}"></td>
							<td th:text = "${serv.dias}"></td>
							<td th:text = "${serv.horarios}"></td>
							<td>
								<a class= "EditElim" th:href="@{/servicios/modificar/}+${serv.id}">Editar</a>
								<a class= "EditElim" th:href="@{/servicios/eliminar/}+${serv.id}">Eliminar</a>
							</td>
							
						</tr>
						</table>
						
						<br>
						<p class="centrado">
							<img th:src="@{/images/paseo2.png}" width="150" title="Littlest paseo" alt="Imagen del paseador">
						</p>
					</article>
					<article>
				<div class="text-center">
					<h4>Servicios Personalizados </h4>
				</div>	
				<div class="card mb-3 d-inline-block" style="max-width: 529px;">
				  <div class="row g-0">
				    <div class="col-md-4">
				      <img th:src="@{/images/paseador1.jpg}"class="img-fluid rounded-start" alt="Imagen del paseador">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body" >
				        <h5 class="card-title" >Flores Fabricio Alfredo</h5>
				        <p class="card-text">Servicio de Guarderia: dias Lunes a Viernes de 9:00-13:00 y 15:00-19:00 .</p>
				        <p class="card-text"><small class="text-muted">388-4367337</small></p>
				      </div>
				    </div>
				  </div>
				</div>
				
				<div class="card mb-3 d-inline-block" style="max-width: 540px;">
				  <div class="row g-0">
				    <div class="col-md-4">
				      <img th:src="@{/images/paseador2.jpeg}"class="img-fluid rounded-start" alt="Imagen del paseador">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body" >
				        <h5 class="card-title" >Farja Naima Blaca</h5>
				        <p class="card-text">Servicio de Veterinaria: vicitas medicas a domicilio consultar horarios disponibles. </p>
				        <p class="card-text"><small class="text-muted">388-5983744</small></p>
				      </div>
				    </div>
				  </div>
				</div>
				
				<div class="card mb-3 d-inline-block" style="max-width: 530px;">
				  <div class="row g-0">
				    <div class="col-md-4">
				      <img th:src="@{/images/paseador4.jpeg}"class="img-fluid rounded-start" alt="Imagen del paseador">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body" >
				        <h5 class="card-title" > Yáñez Sofia Trinidad</h5>
				        <p class="card-text">Servicio de Veterinaria 24 Horas, Tabien se hacen vicitas medicas a domicilio .</p>
				        <p class="card-text"><small class="text-muted">388-4056099</small></p>
				      </div>
				    </div>
				  </div>
				</div>
				
				<div class="card mb-3 d-inline-block" style="max-width: 540px;">
				  <div class="row g-0">
				    <div class="col-md-4">
				      <img th:src="@{/images/paseador3.jpeg}"class="img-fluid rounded-start" alt="Imagen del paseador">
				    </div>
				    <div class="col-md-8">
				      <div class="card-body" >
				        <h5 class="card-title" >Castillo Marisol Patricia</h5>
				        <p class="card-text">Servicio de Peluqueria canina. Los dias Lunes de 10:00-13:00 Miercoles de 15:00-20:00 Viernes de 10:00-18:00.</p>
				        <p class="card-text"><small class="text-muted">388-4550090</small></p>
				      </div>
				    </div>
				  </div>
				</div>
				
						<br>
						<p class="centrado">
							<img th:src="@{/images/paseo3.png}" width="150" title="Littlest paseo" alt="Imagen del paseador">
						</p>
					
					</article>	
				</section>
			
				     	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-6  col-xxl-6 container-fluid mt-3 border  border-solid text-center content">
	
							<aside >
								<h4>¿SABIAS QUE..Sus bigotes le ayudan a ver en la oscuridad?</h4>
									<p>	
										No se trata de visión nocturna, claro está. Pero es cierto que gracias a sus bigotes pueden detectar 
										cambios sutiles en las corrientes de aire, lo que les da información sobre el tamaño, la forma y la velocidad 
										de las cosas cercanas. Así, pueden percibir mejor la proximidad de algún peligro, aunque sea de noche
									</p>	
									<br>	
							</aside>
						</div>
				   </div>	
				</div>
			</div>
		
			<footer th:replace="~{layouts/footer :: footer}" id="footerInicio"></footer>
			<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
			
	</body>
</html>