<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header>
		<h1>Littlest Pets Shop</h1>
		<img>
</header>
   <nav>
		<ul>
			<li> <a href="index.html">Inicio</a> </li>
			<li> <a href="productos.html">Productos</a> </li> 
			<li> <a href="consejos.html">Consejos de salud</a> </li>
			<li> <a href="serviciosDePaseo.html">Servicios de paseos</a> </li>
			<li> <a href="sucursales.html">Sucursales</a> </li>
			<li> <a href="contacto-form.html">Contactanos</a> </li>
		</ul>	
	 </nav>		
	<h1>Servicios de paseo</h1>
	
	<img src="../static/images/paseo1.jpeg" width="150" title="Littlest paseo" alt="Imagen del paseador">
	
	<table border ="1" > 
		
		<tr>
		 	<th>Dias</th>
		 	<th>Lunes</th>
		 	<th>Martes</th>
		 	<th>Miercoles</th>
		 	<th>Jueves</th>
		 	<th>Viernes</th>
		 	<th>Sabado</th>
		</tr>
		
		<tr>
			<th>Horadios</th>
			<td>9 a 12 - 16 - 20</td>
			<td>9 a 12 - 16 - 20</td>
			<td>9 a 12 - 16 - 20</td>
			<td>9 a 12 - 16 - 20</td>
			<td>9 a 12 - 16 - 20</td>
			<td>9 a 12 - 14 - 20</td>
		</tr>
		
		<tr>
			<th>Paseador</th>
			<td>Maximiliano  A. Flores </td>
			<td>Luis G. Panduro</td>
			<td>Maria Becerra </td>
			<td>Marcelo Peresz</td>
			<td>Melanie A. Quevedo</td>
			<td>Angel. E. Gallardo</td>
		</tr>
		
	</table>
	<br>
	<img src="../static/images/paseo2.jpeg" width="150" title="Littlest paseo" alt="Imagen del paseador">
	
	<p> Maximiliano  A. Flores - Telf 388-4265789<br> 
		Luis G. Panduro - Telf 388-4265789<br>
		Marcelo Perez- Telf 388-4265789<br>
		Maria Becerra- Telf 388-4265789<br>
		Angel. E. Gallardo Telf 388-4265789<br>
		Melanie A. Quevedo - Telf 388-4265789
	
	</p>
	
	<br>
	<img src="../static/images/paseo3.jpeg" width="150" title="Littlest paseo" alt="Imagen del paseador">
	<br>
	<br>
	
	<footer>
	
      <p align= "center"> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
   
   
   
   
</body>
</html>