<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Servicio de Paseo</title>
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
	</head>
<body>
	<header th:replace="~{layouts/header :: header}">
		<!-- <div class='menu'>
			<h1>Littlest Pets Shop</h1> 
			<img src="../static/images/logor.png" width="150" title="LogoLittlest" alt="perrito kawaii">
				<nav >
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="consejos.html">Consejos de salud</a></li>
						<li><a href="serviciosDePaseo.html">Servicios de paseos</a></li>
						<li><a href="sucursales.html">Sucursales</a></li>
						<li><a href="contacto-form.html">Contactanos</a></li>
					</ul>
				</nav>
		</div> -->
		
	</header>		
			 <section class="paseo">
			 	<article>
					<h2>Servicio de Paseo</h2>
					<p class="centrado">
					<img src="../static/images/paseo1.png" width="150" title="Littlest paseo" alt="Imagen del paseador">
					</p>
				</article>
			
				<article>
					<table border ="1" > 
						<tr>
						 	<th>Dias</th>
						 	<th>Lunes</th>
						 	<th>Martes</th>
						 	<th>Miercoles</th>
						 	<th>Jueves</th>
						 	<th>Viernes</th>
						 	<th>Sabado</th>
						</tr>
						<tr>
							<th>Horarios</th>
							<td>9 a 12 - 16 a 20</td>
							<td>9 a 12 - 16 a 20</td>
							<td>9 a 12 - 16 a 20</td>
							<td>9 a 12 - 16 a 20</td>
							<td>9 a 12 - 16 a 20</td>
							<td>9 a 12 - 14 a 20</td>
						</tr>
						<tr>
							<th>Paseador</th>
							<td>Maximiliano  A. Flores </td>
							<td>Luis G. Panduro</td>
							<td>Maria Becerra </td>
							<td>Marcelo Perez</td>
							<td>Melanie A. Quevedo</td>
							<td>Angel E. Gallardo</td>
						</tr>
					</table>
					<br>
					<p class="centrado">
						<img src="../static/images/paseo2.png" width="150" title="Littlest paseo" alt="Imagen del paseador">
					</p>
				</article>
				<article>
					<p> 
						Maximiliano  A. Flores - Tel. 388-4265789<br> 
						Luis G. Panduro - Tel. 388-4256789<br>
						Marcelo Perez - Tel. 388-4273428<br>
						Maria Becerra - Tel. 388-4289945<br>
						Angel. E. Gallardo - Tel. 388-4294577<br>
						Melanie A. Quevedo - Tel. 388-4304201
					</p>
					<br>
					<p class="centrado">
						<img src="../static/images/paseo3.png" width="150" title="Littlest paseo" alt="Imagen del paseador">
					</p>
					<br>
					<br>
				</article>	
			</section>
			<aside id="asidep">
				<h4>¿SABIAS QUE..Sus bigotes le ayudan a ver en la oscuridad?</h4>
				<p>	
					No se trata de visión nocturna, claro está. Pero es cierto que gracias a sus bigotes pueden detectar 
					cambios sutiles en las corrientes de aire, lo que les da información sobre el tamaño, la forma y la velocidad 
					de las cosas cercanas. Así, pueden percibir mejor la proximidad de algún peligro, aunque sea de noche
				</p>	
				<br>	
			</aside>
			<footer th:repalce="~{layouts/footer :: footer}" id="footerInicio">
				<!-- <p> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>  -->
		   </footer>
	</body>
</html>