<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sucursales</title>
		<link rel="styLesheet" href="../static/css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
	</head>
<body>

	<header>
		<div class='menu'>
			<h1>Littlest Pets Shop</h1> 
			<img src="../static/images/logor.png" width="150" title="LogoLittlest" alt="perrito kawaii">
				<nav >
					<ul>
						<li><a href="index.html">Inicio</a></li>
						<li><a href="productos.html">Productos</a></li>
						<li><a href="consejos.html">Consejos de salud</a></li>
						<li><a href="serviciosDePaseo.html">Servicios de paseos</a></li>
						<li><a href="sucursales.html">Sucursales</a></li>
						<li><a href="contacto-form.html">Contactanos</a></li>
					</ul>
				</nav>
		</div>
	</header>
	
	<br>
	<section>
		<h2 id="subtsuc">Encontrá las Sucursales de Littlest Pet Shop
			más cercanas!</h2>
			<br>
		<h4 id="infosuc">Actualmente Littlest Pet Shop cuenta con 10
			locales en total ubicados en Jujuy, Salta y Tucumán y, seguiremos
			creciendo con nuevas aperturas en el área y en el resto del país.</h4>
			<br>

		<article class="articlesuc">
			<p class="parrafimg"><img id="boximg" height="150px" width="800px" alt="sucursal Jujuy" src="../static/images/Jujuy.png"></p>
			<br>
			<p>
				<b>SUCURSAL CENTRO</b>
			</p>
			<p>
				Dirección: Independencia esq. Alberdi<br> Teléfono: 3886439281<br>
				Horario de Atención: Lunes a Sábado de 9 a 21hs
			</p> <br>
			<p>
				<b>SUCURSAL PALPALÁ</b>
			</p>
			<p>
				Dirección: Avenida Libertad 1090<br> Teléfono: 3885398765<br>
				Horario de Atención: Lunes a Sabado de 9 a 21hs
			</p><br>
			<p>
				<b>SUCURSAL PERICO</b>
			</p>
			<p>
				Dirección: Avenida Congreso 130<br> Teléfono: 3888563823<br>
				Horario de Atención: Lunes a Sábado de 9 a 21hs
			</p><br>
			<p>
				<b>SUCURSAL SAN PEDRO</b>
			</p>
			<p>
				Dirección: Rogelio Leach 152<br> Teléfono: 3883475284<br>
				Horario de Atención: Lunes a Sábado de 9 a 21hs
			</p>
		</article>
		
		<br>
		<article class="articlesuc">
			<p class="parrafimg"><img id="boximg" height="150px" width="800px" alt="sucursal Salta"
				src="../static/images/Salta.png"></p>
			<br>
			<p>
				<b>SUCURSAL SALTA CAPITAL</b>
			</p>
			<p>
				Dirección: Casero 676<br> Teléfono: 3876542029<br> Horario
				de Atencion: Lunes a Sábado de 9 a 21hs
			</p><br>

			<p>
				<b>SUCURSAL GUEMES</b>
			</p>
			<p>
				Dirección: Leandro N. Alem 645<br> Teléfono: 3876542093<br>
				Horario de Atención: Lunes a Sábado de 9 a 21hs
			</p><br>

			<p>
				<b>SUCURSAL ORÁN</b>
			</p>
			<p>
				Dirección: Avenida Vicente López y Planes 437<br> Teléfono:
				3874359870<br> Horario de Atención: Lunes a Sábado de 9 a 21hs
			</p>
		</article>
		
		<br>
		<article class="articlesuc">
			<p class="parrafimg"> <img id="boximg" height="150px" width="800px" alt="sucursal Tucumán"
				src="../static/images/Tucuman.png"></p>
			<br>
			<p>
				<b>SUCURSAL SAN MIGUEL</b>
			</p>
			<p>
				Dirección: Avenida Ejército del Norte 1662<br> Teléfono:
				3816283949<br> Horarios de Atención: Lunes a Sábado de 9 a 21hs
			</p>
		</article>
		<br>
		<article class="articlesuc">
			<p>
				<b>SUCURSAL YERBA BUENA</b>
			</p>
			<p>
				Dirección: Avenida Aconquija 2016<br> Teléfono: 3817362983<br>
				Horarios de Atención: Lunes a Sábado de 9 a 21hs
			</p>
		</article>
		<br>
		<article class="articlesuc">
			<p>
				<b>SUCURSAL TAFI VIEJO</b>
			</p>
			<p>
				Dirección: Gral. Jose de San Martin 271<br> Teléfono:
				3817629012<br> Horarios de Atención: Lunes a Sábado de 9 a 21hs
			</p>
			<br> <br>

		</article>
	</section>
	<aside id="asidep">
			<h4>¿SABÍAS QUÉ tu perro es capaz de echarte de menos?</h4>
		<p>Sí, y aprenden nuestras rutinas y hábitos, por lo que pueden calcular cuándo es
			 la hora del paseo diario, de cenar… Además, hay estudios que demuestran que los
		  perros actúan de forma diferente cuando sus dueños se ausentaban por períodos de tiempo distintos.</p>
	</aside>
	<br>
	<footer>
      <p id="footerInicio"> &copy; Copyright 2023 - Little Pet Shop - Diseñado por grupo 23 - Jujuy - Republica Argentina</p>
   </footer>
	
	
</body>
</html>