<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Sucursales</title>
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		
	</head>
<body>

	<header th:replace="~{layouts/header :: header}"></header>
	
	<br>
	<section>
		<h2 id="subtsuc">Encontrá las Sucursales de Littlest Pet Shop
			más cercanas!</h2>
			<br>
		<h4 id="infosuc">Actualmente Littlest Pet Shop cuenta con 10
			locales en total ubicados en Jujuy, Salta y Tucumán y, seguiremos
			creciendo con nuevas aperturas en el área y en el resto del país.</h4>
			<br>
	</section>
	
	<section class="paseo">
		<p class = "centrado"><a class="link" th:href="@{/sucursales/nuevo}">Nueva Sucursal</a></p>
		<table border=1>
			<tr>
				<th>Código Sucursal</th>
				<th>Sucursal</th>
				<th>Provincia</th>
				<th>Dirección</th>
				<th>Teléfono</th>
				<th>Horario de atención</th>
				<th>Acciones</th>
				
			</tr>
			<tr  th:each="suc: ${sucursales}">
			
				<td class="txt" th:text="${suc.codigo}"></td>
				<td class="txt" th:text="${suc.nombre}"></td>
				<td class="txt" th:text="${suc.provincia}"></td>
				<td class="txt" th:text="${suc.direccion}"></td>
				<td class="txt" th:text="${suc.telefono}"></td>
				<td class="txt" th:text="${suc.horario}"></td>
				<td>
					<a class ="EditElim" th:href="@{/sucursales/modificar/}+${suc.codigo}">Editar</a>
					<a class ="EditElim" th:href="@{/sucursales/eliminar/}+${suc.codigo}">Eliminar</a>
				</td>
				
			</tr>
		</table>
	</section>
	
	
	<br>
	<br>
	
	
	<aside id="asidep">
			<h4>¿SABÍAS QUÉ tu perro es capaz de echarte de menos?</h4>
		<p>Sí, y aprenden nuestras rutinas y hábitos, por lo que pueden calcular cuándo es
			 la hora del paseo diario, de cenar… Además, hay estudios que demuestran que los
		  perros actúan de forma diferente cuando sus dueños se ausentaban por períodos de tiempo distintos.</p>
	</aside>
	<br>
	<footer th:replace = "~{layouts/footer :: footer}"id="footerInicio"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>