<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es" >
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximun-scale=1, user-scalable=no">
		<title>Nueva Sucursal</title>
		<link rel="styLesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Gorditas&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap" rel="stylesheet">
		<link th:rel= "stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

	</head>
 <body>

	<header th:replace="~{layouts/header :: header}"></header>
	
	<section>
	
		<!--  >p class="parraf">NOTA: Al modificar una Sucursal NO se debe cambiar ni Código Sucursal ni Nombre.</p--><br>
		<form class="formprod" th:action="${edicion}?@{/sucursales/modificar}:@{/sucursales/guardar}" th:object="${sucursal}" method="post">
			<h3 th:text="${edicion}?'Modificar Sucursal':'Nueva Sucursal'"></h3> <br>
			<label for="codigo sucursal">Código Sucursal</label><br>
			<input type="text" id="codigosucursal" name="sucursal_codigo" th:field="*{codigo}"  th:readonly="${edicion}?'readonly'"><br><br>
			<label for="nombre">Nombre</label><br>
			<input type="text" id="nombre" name="sucursal_nombre" th:field="*{nombre}" th:readonly="${edicion}?'readonly'"><br><br>
			<label for="provinvia">Provincia</label><br>
			<select  id="provincia" name="sucursal_provincia" th:field="*{provincia}">
				<option value="JUJUY">Jujuy</option>
				<option value="SALTA">Salta</option>
				<option value="TUCUMAN">Tucumán</option>
			</select><br><br>
			<label for="direccion">Dirección</label><br>
			<input type="text" id="direccion" name="sucursal_direccion" th:field="*{direccion}"><br><br>
			<label for="telefono">Teléfono</label><br>
			<input type="text" id="telefono" name="sucursal_telefono" th:field="*{telefono}"><br><br>
			<label for="horario de atencion">Horario de Atención</label><br>
			<input type="text" id="horariodeatencion" name="sucursal_horario" th:field="*{horario}"><br><br>
			<button class="form-element"  type="submit" th:text="${edicion}?'Modificar':'Guardar'"></button>
			<!-- <p><input type="submit" class="button" value="Guardar"></p> -->
			
		</form>
	
	</section>
	
	<footer th:replace = "~{layouts/footer :: footer}"id="footerInicio"></footer>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	
 </body>
</html>